/* ======================================= */
/* 0. VARIABLES Y RESET GENERAL */
/* ======================================= */

:root {
    /* Colores Base */
    --color-primary: #3498db;
    /* Azul brillante para botones y acentos (Marvel: Rojo, Rick & Morty: Verde, Pokémon: Amarillo) */
    --color-secondary: #2c3e50;
    /* Color oscuro para texto principal y fondos */
    --color-background-light: #ecf0f1;
    /* Fondo claro de la página */
    --color-background-card: #111;
    /* Fondo de las tarjetas de item */
    --color-text-dark: #2c3e50;
    --color-text-light: #ffffff;
    --color-border: #bdc3c7;
    /* Color de borde sutil */
    /* Color rojo Marvel */
    --marvel-red: #b51e25;

    /* Tipografía */
    --font-primary: 'Open Sans', sans-serif;
    --font-size-base: 16px;

    /* Espaciado */
    --spacing-xs: 8px;
    --spacing-sm: 16px;
    --spacing-md: 24px;
    --spacing-lg: 40px;

    /* Sombras */
    --shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.08);
    --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
}

body {
    font-family: var(--font-primary);
    line-height: 1.6;
    background-color: var(--color-background-light);
    color: var(--color-text-dark);
    /* Espacio para el footer */
}

/* ======================================= */
/* 1. MARVEL (PÁGINA ENTERA) */
/* ======================================= */

#marvel {
    background-color: var(--marvel-red--);    
}


/* ======================================= */
/* 2. HEADER */
/* ======================================= */

header {
    background-color: var(--marvel-red);
    color: var(--color-text-light);
}

#header__logo img {
    height: 40px;
    /* Ajuste del logo */
    width: auto;
}

/* ======================================= */
/* 3. FOOTER */
/* ======================================= */
footer {
    background-color: var(--marvel-red);
    color: var(--color-text-light)
}
/* ======================================= */
/* 4. HEADER PERSONAJE */
/* ======================================= */

#header__card img{
    width: auto;
    height: 200px;
    position: relative;

}

/* ======================================= */
/* 5. CARTAS PERSONAJE */
/* ======================================= */
.card-img-top {
  height: 260px;
  object-fit: cover;
}
.card-title {
  text-transform: uppercase;
  font-weight: 700;
}
#carta {
    background-color: var(--color-background-card);
    width: 244px;
    height: 440px;
}
.card-body p {
  color: var(--color-text-light);
}
.list__characters button {
    background-color: var(--marvel-red);
    color: var(--color-text-light);
    border: var(--color-background-light)
}

/*
.card-divider {
  height: 4px;
  background: var(--marvel-red);
}
  */